body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #707070;
}

h1 {
    margin: 0;
    font-size: 65px;
    color: #fff;
}

h2 {
    font-size: 45px;
    color: #121212;
    text-align: center;
    margin: 25px 0;
}

h3 {
    font-family: 'Lobster';
    font-weight: 300;
    font-size: 36px;
    color: #0692c4;
}

h4 {
    font-size: 30px;
    color: #707070;
}

h5 {
    font-weight: 600;
    font-size: 24px;
    margin: 15px 0;
    color: #121212;
}

p {
    font-size: 18px;
}

section {
    margin: 100px auto;
    text-align: center;
    overflow: hidden;
}

button {
    margin-top: 15px;
    padding: 16px 12px;
    width: 160px;
    height: 56px;
    border: 0;
    color: #fff;
    background: #0692c4;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

/* ========== banner section start ============= */
.banner {
    margin: 0;
    padding: 10%;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/donation1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ========== banner section end ============= */

/* ========== donate-today start ============= */

.donate-amount {
    height: 125px;
    width: 130px;
    margin: 25px 6px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #FAFAFA;
    border-radius: 5px;
}

#regular-amount {
    border: 2px solid #0692c4;
    background: #cce9f448;
}

#regular-amount h4 {
    color: #0692c4;
}

.other-amount {
    width: 53%;
    margin: 25px auto;
    border: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(186, 183, 183);
}

.other-amount::placeholder {
    color: #707070;
    text-align: center;
    font-size: 18px;
}

/* ========== donate-today end ============= */

/* ========== donate-plans start ============= */

.plans {
    margin: 3% 10% 0;
    display: flex;
    justify-content: space-around;

}

.plans div {
    width: 32%;
    height: auto;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    text-align: left;
}

.plans p {
    font-size: 16px;
}

.plan-icons {
    height: 70px;
}

#plan-one {
    background-color: rgba(250, 134, 210, 0.2);
}

#plan-two {
    background-color: rgba(71, 244, 71, 0.2);
}

#plan-three {
    background-color: rgba(250, 226, 6, 0.2);
}

/* ========== donate-plans end ============= */

/* ========== volunteeer form start ============= */

#volunteers{
    margin-top: 50px;
    height: 90vh;
    background :url("./images/donation10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.volunteer-form{
    margin: auto;
    box-sizing: border-box;
    height: 70vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #5d4e4e89;
    color: #fff;
border-radius: 10px;
}
.volunteer-form input{
    width: 60%;
    margin: 5px auto;
    padding: 15px 0;
    border: 0;
    background: none;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.volunteer-form input::placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

/* ========== subscsription start ============= */

.subscrib {
    width: 800px;
    height: 180px;
    margin: 50px auto;
    background: #fff0c7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscrib input {
    margin: 0;
    padding: 0 10px ;
    border: 0;
    height: 40px;
    width: 270px;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;

}
.subscrib ::placeholder{
    color: #4b4647;

}
.btn {
    margin: 0;
    padding: 0;
    border: 0;
    height: 40px;
    width: 140px;
    border-radius: 0px 5px 5px 0px;
    background-color: #0691c4d4;
    font-size: 14px;
    font-weight: 500;
}
/* ========== subscsription end ============= */
footer {
    margin: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    background: #0B0D17;
    text-align: center;
}

footer p {
    font-size: 14px;
}